extends layout

block content
	h1= title
	p Welcome, please login!

	form(name='login-form', action='/login', method='post')
		p.label Usuario
		input(type='text' name='username')
		p.label Clave:
		input(type='password', name='password')
		p
			input(type='submit', value='Iniciar sesion')
		p
			a(href='/signup') Registrarme