extends layout

block content
    h1 Este es el panel

    h2 Mis carreras

    p
     a(href='/user/'+user._id) Ver perfil
    
    p
     a(href='/newrun') Nueva Carrera 

    p
     a(href='/logout') Cerrar sesion